<div class="row">
  <div class="col-md-4">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),html: {class: "jumbotron"}) do |f| %>
     <fieldset>
    <legend>Log in</legend>
    <%= f.input :email %>

    <%= f.input :password %>

    <%= f.input :remember_me, as: :boolean %>

    <%= f.button :submit %>
     </fieldset>

  <% end %>
  </div>
  <div class="col--md-8">
    <h2>Login is secure and easy</h2>
  </div>
</div>

<%= render "devise/shared/links" %>
